APScheduler==3.10.4
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
colorhash==2.0.0
configparser==7.1.0
contourpy==1.1.1
cycler==0.12.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-MonitoringDashboard==3.3.2
fonttools==4.54.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
kneed==0.8.5
MarkupSafe==2.1.5
matplotlib==3.7.5           # Latest stable release
numpy==1.24.4               # Latest stable release
packaging==24.1             # This is a valid version
pandas==2.0.3               # Latest stable release
pillow==10.0.1              # Latest stable release
psutil==5.9.5               # Latest stable release
pyparsing==3.1.1            # Latest stable release
python-dateutil==2.8.2      # Latest stable release
pytz==2023.3                # Latest stable release
requests==2.31.0            # This is a valid version
scikit-learn==1.3.0         # Latest stable release
scipy==1.10.1               # Latest stable release
six==1.16.0                 # This is a valid version
SQLAlchemy==2.0.21          # Latest stable release
threadpoolctl==3.2.0        # Latest stable release
typing_extensions==4.12.2    # Latest stable release
tzdata==2023.3              # Latest stable release
tzlocal==5.1                # Latest stable release
urllib3==2.0.7              # Latest stable release
Werkzeug==2.3.7             # Latest stable release
xgboost==2.1.0              # Latest stable release

